body {
    font-family: 'Raleway';
    background-color: hsl(221, 45%, 20%);
    padding-left: 45px;
    padding-right: 45px;
}

h1 {
  color: hsl(15, 40%, 98%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(210, 1%, 50%);
    padding: 10px;
    margin-top: 10px;
}

.colorpanel {
    display: inline-block;
    width: 350px;
    height: 125px;
    padding: 10px;
    margin: 5px auto;
}
/* colors part */

#light_petrol {
    background-color: hsla(182, 96%, 27%, 0.5);
    color:hsl(15, 40%, 98%);
}

#oldwhite {
    background-color: hsl(15, 40%, 98%);
    color:hsl(210, 1%, 50%);
}

#darkblue {
    background-color: hsl(221, 45%, 20%);
    color:hsl(15, 40%, 98%);
}

#light_gray {
    background-color: hsl(204, 2%, 59%);
    color:hsl(15, 40%, 98%);
}

/* fonts part */ 

.textpanel {
    width: 450px;
    height: 125px;
    padding: 10px;
    margin-bottom: 25px;
}

.textpanel h3 {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 400;
}

.dancing_script {
  font-family: "Dancing Script";
  font-size: 18px;
}

.eb_garamond {
  font-family: "EB Garamond";
}

.fredericka {
  font-family: "Fredericka the Great";
}

.bold {
  font-weight:700;
}

.italic {
  font-style: italic;
}

/* text-styles part*/

.main {
  font-family: 'Fredericka the Great';
  color: hsl(216, 25%, 22%);
  font-size: 40px;
  font-weight: 400;
}

li {
  list-style: circle;
  font-size: 16px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

.subheading {
  font-size: 20px;
  font-weight: 400;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
}