@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrE.woff2') format('woff2');
}

body {
    font-family: 'Raleway';
}

div {
    border: 1px solid hsl(210, 1%, 50%);
    padding: 10px;
    margin-top: 10px;
}

.colorblock {
    display: inline-block;
    width: 350px;
    height: 125px;
    padding: 10px;
    border: none;
    margin: 5px;
}
/* colors part */

#light_petrol {
    background-color: hsla(182, 96%, 27%, 0.5);
    color:hsl(15, 40%, 98%);
}

#oldwhite {
    background-color: hsl(15, 40%, 98%);
    color:hsl(210, 1%, 50%);
}

#darkblue {
    background-color: hsl(221, 45%, 20%);
    color:hsl(15, 40%, 98%);
}

#light_gray {
    background-color: hsl(204, 2%, 59%);
    color:hsl(15, 40%, 98%);
}

/* fonts part */ 

/* text-styles part*/